:root {
    --blue: hsl(223, 87%, 63%);
    --pale-blue: hsl(223, 100%, 88%);
    --light-red: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
    --dark-blue: hsl(209, 33%, 12%);
    --font-size: 20px;
    --font-family: 'Libre Franklin', sans-serif;
}

html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: var(--font-size);
    font-family: var(--font-family);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: var(--font-family);
    font-smooth: always;
}

main {
    min-height: 100vh;
    padding: 2rem;
    text-align: center;
    color: var(--dark-blue);
}

.logo {
    margin-top: 2rem;
    width: 20%;
}

.title {
    margin-top: 1.7rem;
    margin-bottom: 0;
    font-size: 1.1rem;
    color: var(--gray);
}

.title span {
    color: var(--dark-blue);
    font-weight: 600;
}

.subtitle {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: .65rem;
}

.input {
    width: 90%;
    margin: 0 auto;
}

input {
    width: 100%;
    padding: .6rem;
    padding-left: 1rem;
    color: black;
    font-size: .6rem;
    font-family: var(--font-family);
    outline: none;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

input::placeholder {
    color: hsl(0, 0%, 80%);
    font-size: .65rem;
    font-family: var(--font-family);
}

.border-error {
    border: 1px solid var(--light-red);
}

.text-error {
    margin-top: .3rem;
    font-size: .5rem;
    font-weight: 600;
    color: var(--light-red);
}

.none {
    display: none;
}

.btn-input {
    width: 100%;
    margin-top: .5rem;
    padding: .6rem;
    background-color: var(--blue);
    color: #FFFFFF;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: .6rem;
    font-weight: 600;
    box-shadow: 0px 8px 10px rgba(79, 125, 243, 0.2);
    border: none;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.illustration {
    margin-top: 3.5rem;
}

.img-illustration {
    width: 100%;
}

.rrss {
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
    
}

.rrss div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    flex: 1 1 1;
    border: 1px solid var(--pale-blue);
    margin: .5rem;
    color: var(--blue);
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.rrss div:hover {
    background-color: var(--blue);
    color: #fff;
}

.text-copyright {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: .6rem;
    color: var(--gray);
}

@media (min-width: 576px) {
    .logo {
        width: 15%;
    }

    .input {
        width: 75%;
    }

    .text-error {
        font-size: .6rem;
    }
}

@media (min-width: 768px) {
    .logo {
        width: 12%;
    }

    .title {
        font-size: 1.5rem;
    }

    .subtitle {
        font-size: .8rem;
    }
    
    .input {
        width: 70%;
    }

    .img-illustration {
        width: 80%;
    }

    input {
        font-size: .7rem;
    }

    .text-error {
        font-size: .6rem;
    }

    .btn-input {
        font-size: .7rem;
    }
}

@media (min-width: 992px) {
    .logo {
        width: 8%;
    }

    .title {
        font-size: 1.8rem;
    }

    .subtitle {
        font-size: .9rem;
    }
    
    .input {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .div-input {
        width: 65%;
        margin-right: 2%;
    }

    .div-btn {
        width: 35%;
    }

    .btn-input {
        margin-top: 0;
    }

    .img-illustration {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .logo {
        width: 6%;
    }

    .input {
        width: 40%;
    }

    .div-input {
        width: 60%;
        margin-right: 2%;
    }

    .div-btn {
        width: 30%;
    }

    .btn-input {
        font-size: 0.6rem;
        height: 100%;
    }

    .img-illustration {
        width: 45%;
    }
}

@media (min-width: 1440px) {
    .logo {
        width: 4%;
    }

    .input {
        width: 35%;
    }

    .div-input {
        width: 55%;
        margin-right: 2%;
    }

    .div-btn {
        width: 25%;
    }

    .btn-input {
        font-size: 0.6rem;
        height: 100%;
    }

    .img-illustration {
        width: 35%;
    }
}

